.btn-primary-outline {
  background-color: transparent;
  border-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #22222;
}

nav li:last-child{
    float: right;
}

li[name="black_text"]{
    color: #222;
}

#tau-logo{
    height: 65px;
    width: 110px;
    margin-right: -100px;
}

#tau-link{
    padding: 0px;
}

nav ul{
    width: 100%;
}
